@use "../abtract/mixins" as layout;
@use "../abtract/variables" as colors_bg;
.form {
  width: 100%;
  @include layout.flex($justify: flex-start, $direction: row, $gap: 2rem);
  padding-bottom: 3rem;
  border-bottom: solid colors_bg.$off-white 1px;
  position: relative;
  &__label {
    width: 22%;
    @include layout.flex($aling: flex-start, $gap: 0.35rem);
  }
  &__input {
    padding: 0.5rem;
    border-radius: 0.65rem;
  }
  &__button {
    width: 6rem;
    height: 6rem;
    padding: 1.5rem;
    border-radius: 50%;
    position: absolute;
    bottom: -3rem;
    right: 0;
  }
}
