@use "../abtract/mixins" as layout;
@use "../abtract/variables" as colors_bg;
.form {
  width: 100%;
  padding-bottom: 3rem;
  position: relative;
  @include layout.flex($justify: flex-start, $direction: row, $gap: 2rem);
  border-bottom: solid colors_bg.$off-white 1px;
  @include layout.media-break() {
    @include layout.flex($justify: center, $direction: row, $gap: 1rem);
    margin-bottom: 3.8rem;
    padding-bottom: 5rem;
  }
  &__label {
    width: 22%;
    @include layout.flex($aling: flex-start, $gap: 0.35rem);
    @include layout.media-break() {
      width: 100%;
    }
  }
  &__input {
    padding: 0.5rem;
    border-radius: 0.4rem;
    @include layout.media-break() {
      padding: 0.65rem 0.85rem;
    }
  }
  &__button {
    width: 6rem;
    height: 6rem;
    padding: 1.5rem;
    border-radius: 50%;
    position: absolute;
    bottom: -3rem;
    right: 0;
    cursor: pointer;
    @include layout.media-break() {
      width: 4.5rem;
      height: 4.5rem;
      padding: 1rem;
      bottom: -2.25rem;
      right: calc(50% - 2.25rem);
    }
  }
}
.error-label {
  color: colors_bg.$light-red;
}

.error-input {
  outline-color: colors_bg.$light-red;
}
