@use "../abtract/variables" as colors_bg;
@use "../abtract/mixins" as layout;
@font-face {
  font-family: popins_bold;
  src: url("../assets/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: popins_extra_bold;
  src: url("../assets/fonts/Poppins-ExtraBoldItalic.ttf");
}

@font-face {
  font-family: popins_regular;
  src: url("../assets/fonts/Poppins-Regular.ttf");
}

body {
  min-height: 100dvh;
  font-family: popins_regular;
  hyphens: manual;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  width: 1px;
  height: 1px;
  top: -50rem;
  left: 0;
  position: absolute;
  overflow: hidden;
}

p {
  font-size: colors_bg.$lg;
  font-family: popins_extra_bold;
  color: colors_bg.$off-black;
  margin-bottom: -2.8rem;

  @include layout.media-break() {
    font-size: 3em;
    margin-bottom: -.5rem;
  }
}

span {
  color: colors_bg.$purple;
}

input {
  width: 100%;
  font-size: colors_bg.$md;
  font-family: popins_bold;
  outline: solid 1px colors_bg.$light-grey;
  color: colors_bg.$off-black;
  transition: outline 0.2s ease;
  &::placeholder {
    color: colors_bg.$smokey-grey;
  }
  &:focus {
    outline: solid 1px colors_bg.$purple;
    transition: outline 0.2s ease;
  }

  &[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  @include layout.media-break() {
    font-size: 1.5rem;
  }
}

label {
  font-size: colors_bg.$sm;
  font-weight: 800;
  letter-spacing: 0.15em;
  @include layout.media-break() {
    font-size: 0.8rem;
  }
}

button {
  background-color: colors_bg.$purple;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: colors_bg.$off-black;
    transition: background-color 0.3s ease;
  }
}

em {
  font-size: 0.65em;
  position: absolute;
  bottom: 1.5rem;
  color: colors_bg.$light-red;
  opacity: 0;
  transition: opacity 0.2s ease;
  @include layout.media-break() {
    bottom: 2.8rem;
    font-size: 0.85em;
  }
}

main {
  background-color: colors_bg.$off-white;
}

section {
  background-color: colors_bg.$white;
}
